apiVersion: v1
kind: Service
metadata:
  name: wg-easy
  namespace: wg-easy
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: wg-easy
  ports:
    - name: http
      port: 80
      targetPort: http
