apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaulwarden
  namespace: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vaultwarden
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vaultwarden
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: vaultwarden
          image: vaultwarden/server:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data
              mountPath: /data
          envFrom:
            - configMapRef:
                name: vaultwarden-env
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data
