apiVersion: v1
kind: Service
metadata:
  name: authelia
  namespace: authelia
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: authelia
  ports:
    - name: http
      port: 80
      targetPort: 9091
