---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: paperless-ngx
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: postgres
  ports:
    - port: 5432
      targetPort: 5432
