access_control:
  default_policy: "one_factor"
  rules:
    - domain: "authelia.home.legrandleo.fr"
      policy: "bypass"
    - domain: "vaultwarden.home.legrandleo.fr"
      policy: "bypass"
      # ressources:
      #   - "^/api*"
authentication_backend:
  ldap:
    address: "ldap://lldap.lldap.svc.cluster.local"
    implementation: lldap
    user: "uid=authelia,OU=people,DC=home,DC=legrandleo,DC=fr"
    base_dn: "DC=home,DC=legrandleo,DC=fr"
notifier:
  filesystem:
    filename: "/config/notification.txt"
storage:
  postgres:
    address: "tcp://postgres:5432"
    database: authelia
    username: postgres
session:
  cookies:
    - domain: "home.legrandleo.fr"
      authelia_url: "https://authelia.home.legrandleo.fr"
identity_providers:
  oidc:
    jwks:
      - key_id: "authelia"
        algorithm: "RS256"
        use: "sig"
        certificate_chain: |
          -----BEGIN CERTIFICATE-----
          MIIDMjCCAhqgAwIBAgIRAJ+lhztCKOUKrAwrIvwHvXUwDQYJKoZIhvcNAQELBQAw
          OTERMA8GA1UEChMIQXV0aGVsaWExJDAiBgNVBAMTG2F1dGhlbGlhLmhvbWUubGVn
          cmFuZGxlby5mcjAeFw0yNTEwMTMxMzUzNTJaFw0yNjEwMTMxMzUzNTJaMDkxETAP
          BgNVBAoTCEF1dGhlbGlhMSQwIgYDVQQDExthdXRoZWxpYS5ob21lLmxlZ3JhbmRs
          ZW8uZnIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCui6ztmMxn4pZq
          j7geCEwwdLvmnZTJo3V4hqPMPalse9PweiewF2d+OH9+sb1UMo2OrTWkmckfvLTb
          riAyxSkcrrUaRNVFrIQ3nqNP0gnTHZOkaHIeIW0+KY2e3S929R8gQvpndCedBX5k
          AuFgGG318sR7HmChNzWaxX70LDQojaOlXaGlaMjIt6lGNhG7Kr/zhmEoMfII4VZt
          wsPf8VmQSwTLbz8uDViPIThHD1LfOFAh54jvbrbEhQAYT+HE//ou84z8D0TE1DVG
          KJ3pMGG7Wbj6Bb4Q2PwcS1APhFBKr9CYk3qmzzJffZ8ks6JAXTHq9qp+kX08X/Fb
          KB2Lr4crAgMBAAGjNTAzMA4GA1UdDwEB/wQEAwIFoDATBgNVHSUEDDAKBggrBgEF
          BQcDATAMBgNVHRMBAf8EAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBR6LECjy8ZN1X2
          vOeyGrXup203v6V1RxNwAiFnkI9/ScOFpDcrDaDxQzvedw3e3Zm0kKyrPh+TNGh7
          zUpAvcscRUzfwkSguF/uszpZS3xcO0a5N+CyLTBH+wPkfqOtlGiiUqiL/o4J6sti
          P2BD5Jl0sxhTxl58/BAQAMUIeWdcTHOicoAzNsu905TW31AtWlQO1l3crOwboNW5
          YjssCg2OlCdZi8ltaxizbh2YLhOXEjkCTGjLJQKcJSQOfXhH8PvasLOj+CBWk23G
          MicuKW/15G46fnWWzMId6NCdJOACIyWtJjPjGy5qlr+8FRRMWUFly+A0Z72RzPoh
          mRhNiiEZ
          -----END CERTIFICATE-----
        key: {{ secret "/config/rsa.key" | mindent 10 "|" | msquote }}
    cors:
      endpoints:
        - "userinfo"
    clients:
      - client_id: 'filebrowser'
        client_name: 'FileBrowser Quantum'
        client_secret: '$pbkdf2-sha512$310000$bakbKlJcCVxN7KFULyZtuA$qBUB9g.qV/lm6KpsZ0NGHsZdC5cggh/iU2w6WTvTIO1WHGsMaNeKaw0nsyPwYx2LZZv4fyClK46KSwhcV4SXNw'
        public: false
        authorization_policy: 'one_factor'
        require_pkce: false
        pkce_challenge_method: ''
        redirect_uris:
          - 'https://quantum.home.legrandleo.fr/api/auth/oidc/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'groups'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
      - client_id: 'rwmarkable'
        client_name: 'rwMarkable'
        client_secret: '$pbkdf2-sha512$310000$1SaEdVpsOxRCyrku8cLWrw$.Jq.0tx5wNVdNzAdHvWPt6YD3jIhhogLCb5M6l/4AFWoH17W/T8V0zZFQEvpctIUv/mGx8x/5kESsplwFvdZyg'
        public: true
        authorization_policy: 'one_factor'
        require_pkce: false
        pkce_challenge_method: ''
        redirect_uris:
          - 'https://rwmarkable.home.legrandleo.fr/api/oidc/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'groups'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
