access_control:
  default_policy: "one_factor"
  rules:
    - domain: "authelia.home.legrandleo.fr"
      policy: "bypass"
    - domain: "vaultwarden.home.legrandleo.fr"
      policy: "bypass"
      # ressources:
      #   - "^/api*"
authentication_backend:
  ldap:
    address: "ldap://lldap.lldap.svc.cluster.local"
    implementation: lldap
    user: "uid=authelia,OU=people,DC=home,DC=legrandleo,DC=fr"
    base_dn: "DC=home,DC=legrandleo,DC=fr"
notifier:
  filesystem:
    filename: "/config/notification.txt"
storage:
  postgres:
    address: "tcp://postgres:5432"
    database: authelia
    username: postgres
session:
  cookies:
    - domain: "home.legrandleo.fr"
      authelia_url: "https://authelia.home.legrandleo.fr"
identity_providers:
  oidc:
    ## The other portions of the mandatory OpenID Connect 1.0 configuration go here.
    ## See: https://www.authelia.com/c/oidc
    clients:
      - client_id: "filebrowser"
        client_name: "FileBrowser Quantum"
        client_secret: "$pbkdf2-sha512$310000$c8p78n7pUMln0jzvd4aK4Q$JNRBzwAo0ek5qKn50cFzzvE9RXV88h1wJn5KGiHrD0YKtZaR/nCb2CJPOsKaPK0hjf.9yHxzQGZziziccp6Yng" # The digest of 'insecure_secret'.
        public: false
        authorization_policy: "two_factor"
        require_pkce: false
        pkce_challenge_method: ""
        redirect_uris:
          - "https://filebrowser.home.legrandleo.fr/api/auth/oidc/callback"
        scopes:
          - "openid"
          - "profile"
          - "groups"
          - "email"
        response_types:
          - "code"
        grant_types:
          - "authorization_code"
        access_token_signed_response_alg: "none"
        userinfo_signed_response_alg: "none"
        token_endpoint_auth_method: "client_secret_basic"
