apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx
  namespace: paperless-ngx
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: paperless-ngx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: paperless-ngx
    spec:
      containers:
        - name: paperless-ngx
          image: ghcr.io/paperless-ngx/paperless-ngx:latest
          volumeMounts:
            - name: media
              mountPath: /usr/src/paperless/media
            - name: consume
              mountPath: /usr/src/paperless/consume
            - name: export
              mountPath: /usr/src/paperless/export
            - name: data
              mountPath: /usr/src/paperless/data
          envFrom:
            - secretRef:
                name: paperless-ngx-env-secret
            - configMapRef:
                name: paperless-ngx-env
      volumes:
        - name: media
          emptyDir: {}
        - name: consume
          emptyDir: {}
        - name: export
          emptyDir: {}
        - name: data
          persistentVolumeClaim:
            claimName: paperless-data
